.about {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.about-heading {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.about-heading1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about-heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    color: red;
}

.about-dash {
    font-size: 30px;
    align-self: flex-end;
    color: black;
}

.about-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.about-cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.about-card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 20px;
}

.about-card3-items {
    margin-top: 15px;
}

.about-card3-para-span1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}

.about-card3-para-span2 {
    font-family: 'Poppins', sans-serif;
    font-size:  20px;
    letter-spacing: 1px;
    color: black;
}

.about-card3-para {
    font-family: 'Roboto';
    font-size: 17px;
    letter-spacing: 1px;
}

.about-card4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 20px;
}

.about-person-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.about-address-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.about-email-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.about-address-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.person-icon {
    font-size: 35px;
    margin-right: 15px;
    margin-bottom: 20px;
    color: black;
}

.address-icon {
    font-size: 35px;
    margin-right: 15px;
    margin-bottom: 20px;
    color: black;
}

.email-icon {
    font-size: 35px;
    margin-right: 15px;
    margin-bottom: 20px;
    color: black;
}

.about-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-person-contact {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.about-address-route {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.about-email-address {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


.about-card3-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    align-self: flex-start;
}

.about-card3-heading-span1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: black;
}

.about-card3-heading-span2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: black;
}

.about-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    flex-wrap: wrap;
}

.about-card1 {
    height: 40%;
    width: 100%;
    flex-wrap: wrap;
}

.about-logos {
    height: 60px;
    width: 60px;
    margin: 8px;
    margin-right: 50px;
}

.about-card2-label {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 10px;
    margin-bottom: 10px;
}

.about-card2-label-span {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: black;
}

.about-card1-label {
    font-family: 'Roboto';
    font-size: 30px;
    letter-spacing: 3px;
    margin: 10px;
    margin-bottom: 10px;
}

.about-card-wrap {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.about-table-contents {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.about-table-contents-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}